= error_messages_for @article

= form_for(@article, :action => url(:article, @article)) do
  #title Edit article
  .row
  = text_field :title, :label => "Title: "
  .row
  = text_area :body, :label => "Body: ", :rows => 18, :cols => 60
  .submit
  = submit "Update"
    
= link_to 'Show', url(:article, @article)
|
= link_to 'Back', url(:articles)