= link_to 'Create New Article', url(:new_article)

%table.list
  %tr
  - for article in @articles
    %tr
      %td
        %strong
          = article.title
      %td.small
        = link_to 'Show', url(:article, article)
      %td.small
        = link_to 'Edit', url(:edit_article, article)
      %td.small
        = delete_button article, 'Delete', :class => 'delete'  


