#new_button.ui-corner-all
  .ui-icon.ui-icon-plusthick
  = js_include_tag 'admin_forms.js'
  = link_to 'Create New Album', "#", :id => "create1" #url(:new_album)

.form
  = form_for(@album, :action => url(:albums)) do
    .row
      = file_field :image, :label => "<b>Image:</b>", :class => "fileupload"
    .row
      = text_field :title, :label => "<b>Title:</b>"
    .row
      = select :artist_id,:label=>"<b>Artist:</b>", :collection => Artist.all.map {|a| [a.id, a.name]}                    
    .row
      = text_field :catalog_index, :label => "<b>Catalog Id:</b>", :length => "8"
    .row
      = text_field :release_year, :label => '<b>Release Year:</b><br />      <span style="color:red;font-size:9px">* Year only (eg, 1994)</span>', :class => "year"
    .row
      = text_area :description, :label => "<b>Description:</b>", :rows => "6", :cols => "30"
    .row
      = text_area :songs, :label => '<b>Songs:</b>', :rows => "6", :cols => "30"      
    .submit.ui-corner-all
      = submit "Create", :class => "create"

%table.list
  %tr
  - @albums.each do |album|
    %a{:href => "#"}    
      %tr{:class => "#{cycle(:odd,:even)}"}
        %td
          = image_tag album.image.url(:small)
        %td.name
          = album.title
        %td.small             
          .ui-icon.ui-icon-document
          = link_to 'Show', url(:album, album)
        %td.small
          .ui-icon.ui-icon-pencil  
          = link_to 'Edit', url(:edit_album, album)
        %td.small                  
          .ui-icon.ui-icon-trash        
          = delete_button album, 'Delete', :class => 'delete'  
        

