#new_button.ui-corner-all
  .ui-icon.ui-icon-plusthick
  = js_include_tag :admin_forms
  = link_to 'Create New Artist', "#", :id => "create1"
                           
.form
  = form_for(@artist, :action => url(:artists) ) do
    .row
      = text_field :name, :label => "Name: "
    .row
      = text_area :bio, :label => "Description: ", :rows => "6"
    .row
      = text_field :external_links, :label => "Homepage: "
    .row
      = file_field :image, :label => "Image: ", :class => "fileupload" 
    .submit.ui-corner-all
      = submit "Create", :class => "create"

%table.list
  %tr
  - @artists.each do |artist|
    %a{:href => "#"}         
      %tr{:class => "#{cycle(:odd,:even)}"}                
        %td
          = image_tag artist.image.url(:small)
        %td.name
          = artist.name
        %td.small                
          .ui-icon.ui-icon-document
          = link_to 'Show', url(:artist, artist)
        %td.small               
          .ui-icon.ui-icon-pencil
          = link_to 'Edit', url(:edit_artist, artist)
        %td.small                                             
          .ui-icon.ui-icon-trash
          = delete_button artist, 'Delete', :class => 'delete'