#admin_nav
  #admin                            
    #lawft
      = image_tag 'lawft_logo.png', :id => 'logo'         
      %h1 Administration Console
    %br        
    %ul.greeting                                        
      %li
        =image_tag 'grilla_icon.png'
      %li
        <span style="color: #005DAA">Administrator</span>
    %ul.admin_top                        
      %li.ui-corner-all
        .ui-icon.ui-icon-home
        %a{:href => "/" } 
          Your Site
      %li.ui-corner-all 
        .ui-icon.ui-icon-wrench
        %a{:href => "/admin/settings"} 
          Settings
      %li.ui-corner-all  
        %a{:href => "/logout"}
          Logout
    %br
    %br
    #admin_menu
      %ul
        %li                            
          %a{:href => "/admin/artists"}
            == Artists <span class="count">(#{Artist.count})</span>
        %li             
          %a{:href => "/admin/albums"}
            == Albums <span class="count">(#{Album.count})</span>          
        %li  
          %a{:href => "/admin/articles"} 
            == Articles <span class="count">(#{Article.count})</span>
        %li  
          %a{:href => "/admin/links"} 
            == Links <span class="count">(#{Link.count})</span>
        %li
          %a{:href => "/admin/gallery"} 
            == Gallery <span class="count">(#{Art.count})</span>
        %li
          %a{:href => "/admin/audio_files"} 
            == Songs <span class="count">(#{AudioFile.count})</span>
    