#new_button.ui-corner-all
  .ui-icon.ui-icon-plusthick  
  = js_include_tag 'admin_forms.js'        
  = link_to 'Create New Link', "#", :id => "create1"

.form
  = form_for(@link, :action => url(:links)) do
    .row
      = text_field :title, :label => "Link Name: "
    .row
      = text_field :url, :label => "Link address: "
    .submit.ui-corner-all
      = submit "Create", :class => "create"
  
%table.list
  %tr
  - for link in @links
    %tr{:class => "#{cycle(:odd,:even)}"}                
      %td.name
        = link.title
      %td.small                    
        .ui-icon.ui-icon-document            
        = link_to 'Show', url(:link, link)
      %td.small               
        .ui-icon.ui-icon-pencil            
        = link_to 'Edit', url(:edit_link,  link)
      %td.small                          
        .ui-icon.ui-icon-trash      
        = delete_button link, 'Delete', :class => 'delete'  
      

