#new_button.ui-corner-all
  .ui-icon.ui-icon-plusthick
  = link_to 'Create New Song', url(:new_song)

%table.list
  %tr
  - @songs.each do |song|
    %tr{:class => "#{cycle(:odd,:even)}"}
      %td.name
        = song.title
      %td.small
        = link_to 'Show', url(:song, song)
      %td.small
        = link_to 'Edit', url(:edit_song, song)
      %td.small
        = delete_button song, 'Delete', :class => 'delete'        