!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title Fall Reign Records
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    = css_include_tag :reset_fonts_grids
    = css_include_tag :master
    - if session.user
      = js_include_tag :jquery, :application
  
  %body#yui-skin-sam
    #doc2.yui-t2
      #hd
        %a{ :href => "/" }        
          %img#logo{ :src => "/images/fall_reign_logo.gif", :height => "140px" }                             
          %img#header{:src => "/images/fr_header.png"}
        -#%img#banner{:src => "/images/fr_header.jpg"}

        #menu.yuimenubarnav.yuimenubar
          .bd
            - %w[ home catalog artists gallery links contact ].each do |nav|
              = link_to "#{nav.upcase}", "/#{nav}"
              &nbsp;&nbsp;|&nbsp;&nbsp;
            - if session.user          
              #admin-nug-one  
                = link_to "logout", "/logout"
              #admin-nug-two
                = link_to "manage", "/admin"
            - else
              #admin-nug-one
                = link_to "login", "/login"
      #bd
        #yui-main          
          .yui-b
            - [:error,:success,:notice].each do |type|
              - if message[type]
                %div{:class => type}= message[:type]
            = catch_content :for_layout    

        .yui-b
          .side-nugget
            = catch_content :sidebar_one
          
          %hr
          %br
          %h2 sidebar
          %p
            There is going to be enough room for a side bar right here where we can stuff content in and have it stay there.
          %hr
          .side-nugget
            %h3
              this space for rent
            %br
            %hr
            %br
          .side-nugget
            = catch_content :sidebar_two
            
        
        #ft
          %hr
          %br
          .left             
            a  
            %a{:href=>"http://ghettochip.com"} deepthawtz
            production   

          .right
            &copy; 2009 
            %a{ :href => "/"}
              fall reign&nbsp;&nbsp;
        
  :javascript               
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  
  :javascript  
    try {
    var pageTracker = _gat._getTracker("UA-2419530-6");
    pageTracker._trackPageview();
    } catch(err) {}
