<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>::fall reign::</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>                 
    <div id="header-container">
      <img src="images/fall_reign_logo.jpg" />
      <h1><strong>::Fall Reign Records</strong></h1>        
    </div>                       
    <div id="nav">
      <%= link_to "Home", "/home" %> &nbsp;&nbsp;|&nbsp;&nbsp;         
      <%= link_to "Music", "/music" %> &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Gallery", "/gallery" %> &nbsp;&nbsp;|&nbsp;&nbsp;              
      <%= link_to "Contact", "/contact" %>
    </div>  
    
    <div id="main-container">
    <%#= message[:notice] %>
    <%= catch_content :for_layout %>
    </div>                         
    
    <div id="footer-container">
      <hr />
      <div class="left">&nbsp;powered by <a href="http://merbivore.org">Merb</a> &nbsp;&nbsp;|&nbsp;&nbsp;developed by <a href="http://deepthawtz.net">Deepthawtz</a></div>
      <div class="right">&copy; 2008 fall reign&nbsp;</div>
      <p>&nbsp;</p>
    </div>
  </body>
</html>