!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title Fall Reign Records
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    = css_include_tag :reset_fonts_grids, :master, :lavalamp
    = js_include_tag :jquery, :easing, :application, :lavalamp, :ga
   
  %body 
    #doc2.yui-t2
      #hd
        %a{ :href => "/" }        
          %img#logo{ :src => "/images/fall_reign_logo.gif", :height => "140px" }                             
          %img{:src => '/images/tree_branch.png'}
        
        %ul#menu        
          - %w[ Home Catalog Artists Gallery Links Contact ].each do |nav|
            %li  
              = link_to "#{nav}", "/#{nav.downcase}"

      #bd
        #yui-main          
          .yui-b
            - [:error,:success,:notice].each do |type|
              - if message[type]
                %div{:class => type}= message[:type]
            = catch_content :for_layout           
            %br
            %br
            %br
            
        #side.yui-b
          = catch_content :sidebar                              
        
        %object{ :type => "application/x-shockwave-flash", :height => "170", :width => "440", :data => "/xspf_player.swf?playlist_url=/music/playlist.xspf&autoresume=1" }
        %param{ :name => "movie", :value => "/xspf_player.swf?playlist_url=/music/playlist.xspf&autoresume=1" }
        
        #ft
          %hr
          .left             
            brought to you by:
            %a{:href=>"http://peoplewholikejazz.com"} 
              people who like jazz

          .right
            &copy; 2009 
            %a{ :href => "/"}
              fall reign&nbsp;&nbsp;