!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title Fall Reign Records
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    = css_include_tag :reset_fonts_grids, :master, :lavalamp
    = js_include_tag :jquery, :easing, :lavalamp, :application
   
  %body 
    #doc2.yui-t2
      #hd
        %a{ :href => "/" }        
          %img#logo{ :src => "/images/fall_reign_logo.gif", :height => "140px" }                             
          %img{:src => '/images/tree_branch.png'}
        
        #menu
          %ul.lavaLamp        
            - %w[ Home Catalog Artists Gallery Links Contact ].each do |nav|
              %li  
                = link_to "#{nav}", "/#{nav.downcase}"

      #bd
        #yui-main          
          .yui-b
            - [:error,:success,:notice].each do |type|
              - if message[type]
                %div{:class => type}= message[:type]
            = catch_content :for_layout                
        
        #ft
          %hr
          .left             
            brought to you by:
            %a{:href=>"http://peoplewholikejazz.com"} 
              people who like jazz

          .right
            &copy; 2009 
            %a{ :href => "/"}
              fall reign&nbsp;&nbsp;
        
  = js_include_tag :ga
