.error
  = error_messages_for @link

= form_for(@link, :action => url(:links)) do
  #title Edit Link
  .row
  = text_field :title, :label => "Give a Link a Name: "
  .row
  = text_field :url, :label => "Da link: "
  .submit
  = submit "Create"

= link_to 'Back', url(:links)