= error_messages_for @album

= form_for(@album, :action => url(:album, @album)) do
  #title Edit album
  = partial :form
  .submit
  = submit "Update"

= link_to 'Show', url(:album, @album)
|
= link_to 'Back to admin tab', "/admin#ui-tabs-11"
|
= link_to 'Back to Catalog', "/catalog"