.error
  = error_messages_for @album

= form_for(@album, :action => url(:albums)) do
  #title New Album
  .row
  = text_field :title, :label => "Title:"
  .row
  = select :artist_id,:label=>"Artist:", :collection => Artist.all.map {|a| [a.id, a.name]}
  .row
  = text_field :release_year, :label => "Release Year:", :size => "4"
  <span style="color:red">*year only (eg, 1994)</span>
  %br
  .row
  = text_area :description, :label => "Description:", :rows => "6", :cols => "20"
  %br                                    

  = text_area :songs, :label => "Songs: ", :rows => 6
  <span style="color:red">*separate songs w/ a comma</span>
  %br

  %br
  %br
  .row
  = file_field :image, :label => "Image:"
  .row
  = submit "Create"
 
= link_to 'Back', url(:albums)