#album
  = image_tag @album.image.url(:large)
  %h1
    == #{@album.title} <span style="font-size:16px;color:#666">[#{@album.release_year}]</span> 

  - if @album.artist.nil? 
    %h2        
      = "[unkown]"
  - else                
    %h2
      %a{:href => "/artists/#{@album.artist.id}"}
        = @album.artist.name    

  = @album.description
  %br
  %br
  %br
  %br
  %h2 Tracks
  %hr
  %br

  - @album.songs.split(",").each_with_index do |song, number|
    == <span style="font: bold 18px Times;color: grey">#{number + 1}.</span>&nbsp;&nbsp;   <b>#{song.chomp("\s").capitalize}</b><br />

  %br 
      