#album
  = image_tag @album.image.url(:large)
  %h1
    == #{@album.title} <span style="font-size:16px;color:#666">[#{@album.release_year}]</span> 

  - if @album.artist.nil? 
    %h2        
      = "[unknown]"
  - else                
    %h2
      %a{:href => "/artists/#{@album.artist.id}"}
        = @album.artist.name    

  = @album.description
  %br
  %br
  %br
  %h2 Tracks
  %hr
  %br
  / - b = @album.songs.split(",")     
  / - count = 1
  / - @album.songs.split(",").each do |song|
  / == <span style="font: bold 18px Times;color: grey">#{count}.</span>&nbsp;&nbsp;   <b>#{song.chomp("\s").capitalize}</b>
  / - count += 1
  / - @albums.each do |album|
  
  = @album.songs
  %br
  %br
  %br
  
= link_to 'Back to Catalog', "/catalog"  