#nugget
  = image_tag @album.image.url(:large)
  %h1
    = @album.title       
  %a{:href => "/artists/#{@album.artist.id}"}
    %h2
      = @album.artist.name
    
  %h3
    = @album.release_year
  
  = @album.description
  %br
  %h3 songs
  %hr
  %br
  - b = @album.songs.split(",")
  - @album.songs.split(",").each do |song|
    &nbsp;+&nbsp;
    = song
    %br
      
= link_to 'Back', url(:albums)