= error_messages_for @audio_file

= form_for(@audio_file, :action => url(:audio_files, @audio_file)) do
  #title Edit Song
  = partial 'form'
  .submit
    = submit "Update"

= link_to 'Show', url(:audio_file, @audio_file)
|
= link_to 'Back to Home', "/home"