%h1 Songs

%table
  %tr
  - @audio_files.each do |song|
    %tr
      %td= "<b>#{song.title}</b>"      
      %td.admin
        = link_to 'Show', url(:audio_file, song)
      %td.admin
        = link_to 'Edit', url(:edit_audio_file, song)
      %td.admin
        = delete_button song, 'Delete', :class => 'delete'
                                 
%br
%br
%br
= link_to 'New', url(:new_audio_file)