= js_include_tag :thickbox
= css_include_tag :thickbox

#nugget  
  - @arts.each do |art|
    %a.thickbox{:href => "#{art.image.url(:original)}", :title => "#{art.description}", :rel => "gallery", :alt => "#{art.title}"}
      = image_tag art.image.url(:medium)
    