!!! XML  
%playlist{ :version => "0", :xmlns=> "http://xspf.org/ns/0/" }
  %trackList                      
    - @audio_tracks.each_with_index do |song, number|
      %track                
        %trackNum= number + 1
        %location= song.track.url
        %creator= song.artist.name
        %title= song.title
        %album= song.album.title
        %image= song.album.image.url
        %info /music/popout_player